<h1>{{ question }}</h1>

{# oh, I'm just a comment hiding here #}

<div>
    Eventually, we'll print the full question here!
</div>

<h2>Answers {{ answers|length }}</h2>

<ul>
    {% for answer in answers %}
        <li>{{ answer }}</li>
    {% endfor %}
</ul>

