{% extends 'base.html.twig' %}

<h1>{{ question }}</h1>

<div>
    TODO - better example structure
</div>

<h2>Answers {{ answers|length }}</h2>

<ul>
    {% for answer in answers %}
        <li>{{ answer }}</li>
    {% endfor %}
</ul>
